a > h1
{
  text-align: center;
  color: #f1f1f1;
}
a
{
  margin: auto;
}
div > a:hover
{
  text-decoration: none;
}
.container
{
  margin: auto;
  padding: 5%;
}
#detail-box
{
  margin: 5%;
}
.container.row .col-md-4
{
  text-align: center;
}
